h1
{
    font-family: 'Merienda', cursive;
    color: darkgrey;
    text-transform: uppercase;
}

h2{
    color: black;
    font-size: large;
}

.resaltar{
 background-color: yellow;

}

#letra{
    font-style: italic;

}

#rojo{
    color: black;

}

img{
    width: 300px; height: 300px;
    border-radius: 300px;
  }

.personal{
    width: 500px;
    height: 250px;
    background-color : lightslategray;
    padding: 20px;
    border-bottom: 10px;

}
.formacion{
    width: 500px;
    height: 250px;
    background-color : lightblue;
    padding: 20px;
    border-bottom: 10px;
}
.pasatiempo{
    width: 500px;
    height: 250px;
    background-color : lightsalmon;
    padding: 20px;
    border-bottom: 10px;
}

p{
    font-family: 'Merienda', cursive;
}